
  .InboxBody{
    margin: 2rem 5rem;
  }
  .noMailbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh; 
    text-align: center;
  }
  .noMailbox img {
    max-width: 100%; 
    margin-top: 2px; 
  }
  .email-item {
    background-color: #89d4731f;
    margin-bottom: 10px;
    padding: 10px 50px;
    border: 1px solid #05011a;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dltBtn{
    background: #d61f1f5e;
    border-radius: 3px;
    font-size: larger;
    border-radius: 10px;
  }
  .email-link {
    text-decoration: none;
    color: #b79df0;
    flex: 1;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: flex-start;
  }
  
  .email-status {

    margin-right: 20px;
  }
  
  .email-date {
    font-size: 12px;
    color: #bffa51;
    margin-right: 40px;
  }